.oval {
  width: 4px;
  height: 4px;
  background-color: rgba(183, 196, 196, 1);
  border-radius: 50%;
}
.tag {
  text-align: center;
  color: rgba(92, 165, 165, 1);
  font-size: 0.8125rem;
  line-height: 1.5rem;
  padding: 0.25rem 0.5rem;
  font-weight: 700;
  border-radius: 0.25rem;
  background-color: rgba(92, 165, 165, 0.1);
}
